footer {
    width: 100%;
    .footer_content{
        width: 100%;
        display: flex;
        margin-top: 10px;
        .content{
            width: calc(100% - 300px);
            height: 100%;
            display: flex;
            padding-left: 25px;
            .container{
                width: 250px;
                height: 100%;
                color: black;
                padding-left: 10px;
                .title{
                    color: orange;
                    font-size: $font-title-footer;
                    font-weight: 700;
                }
                i{
                    margin-top: 10px;
                    margin-left: 25px;
                    color: rgba(0, 0, 0, 0.844);
                    font-size: $font-title-footer + 5px;
                }
                p {
                    color: black;
                    font-size: $font-title-footer - 3px;
                    font-family: Arial, Helvetica, sans-serif
                }
            }
        }
        .map {
            width: 300px;
            height: 100%;
            display: flex;
            align-items: end;
            padding-right: 15px;
        } 
    }
     
}